<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1>Chronic Sickness</h1>
<h2>Smartphone Cannabis diagnosis</h2>

Choose an image for diagnosis.
<img
  src="{{ url_for('static', filename='upload.png')}}"
  id="blah"
  alt="upload image"
/>
<form id='plant-form'>
  <input
    type='file'
    onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"
  />
  <input type='submit' />
</form>
<table>
  <tr>
    <td><span id='healthy'>0.00</span></td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><span id='sick'>0.00</span></td>
    <td>Sick</td>
  </tr>
  <tr>
    <td><span id='other'>0.00</span></td>
    <td>Other</td>
  </tr>
</table>

<script>
const onFormSubmit = (e) => {
  e.preventDefault();

  var formData = new FormData();
  var fileField = document.querySelector("input[type='file']");

  formData.append('image', fileField.files[0]);

  fetch('/predict', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .catch(error => console.error('Error:', error))
  .then(response => {
    const renderHealthy = document.getElementById('healthy');
    const renderSick = document.getElementById('sick');
    const renderOther = document.getElementById('other');
    const results = response.predictions[0].map(n => Number(n).toFixed(2));

    renderHealthy.innerHTML = results[0];
    renderSick.innerHTML = results[2];
    renderOther.innerHTML = results[1];
  });
}
const form = document.getElementById('plant-form');
form.addEventListener("submit", onFormSubmit, true);
</script>

<br />
<a href="https://github.com/morenoh149/simple-keras-rest-api/tree/hm-plant-model">Github</a>
